{% extends 'base.html.twig'%}

{% block header %}
     <div class="header_logo">
         <a href="">Pro Кино</a>
     </div>
     <nav>
         <ul>
             <li><a href="">Главная</a></li>

         </ul>
     </nav>
    <button class="green">Регистрация</button>
    <button class="green">Войти</button>
 {% endblock %}

{% block main_cont %}

{% endblock %}

{% block footer %}
<h2>Почта для связи : Zubovnikita1@gmail.com</h2>
{% endblock %}